form(id="form" class="form")
	section.form-container
		header.form-container-title 
			span Учетная запись
		.form-row-x
			.form-cell
				.input-group
					input(id="login" class="input-field" name="login" type="text" autocomplete="off")
					label(for="login" class="input-title") Логин
		.form-row-x
			.form-cell
				.input-group
					input(id="password" class="input-field" name="password" type="password")
					label(for="password" class="input-title") Пароль
		
		.form-row-x
			span.form-message.error Указан не корректный логин или пароль

		.form-row-x-between
			input(id="submit-modal-1" class="input-submit" type="submit" value="Войти")
			a(href="" class="remove-password") Забыли пароль?