block variables

doctype html
html(lang="ru-Ru")
	include ../modules/head

	body
		header
			.container
				h1 Шаблон HTML5
				nav
		main
			//- include ../modules/header
			.container
				block content
				include ../modules/form
			//- include ../modules/footer
		footer
		script(src="assets/js/libs.min.js")
		script(src="assets/js/main.js")
		block script