.form-container 
	margin: 0 auto
	max-width: $form-widht // что делать если 2 формы и нужно две разные ширины
	padding-top: 20px

.form-row-x
	display: flex
	flex-flow: row wrap // узнать что это

.form-row
	margin-bottom: 18px
	position: relative
	width: 100%

.form-cell
	flex: 0 0 auto // узнать что это 
	min-height: 0px
	min-width: 0px		
	width: 100%

.form__row-double 
	display: flex
	width: 100%
	justify-content: space-between
	align-items: center

.form__input 
	box-sizing: border-box
	border: 1px solid #e2e2e2
	padding: 19px 20px
	width: 100%
	font-weight: 300
	color: #1f2530 !important
	font-size: 16px
	box-shadow: 0 3px 0 transparent
	transition: background .3s, box-shadow .3s, border-color .3s
	outline:none

.input-error 
	border-bottom-color: rgba(232,125,125, .42) !important

.form__input:-webkit-autofill 
	-webkit-box-shadow: inset 0 0 0 50px #fff !important
	-webkit-text-fill-color: #1f2530

.login-error,
.password-error 
	font-size: 11px
	line-height: 13px
	color: #efa2a2
	position: absolute
	bottom: 4px
	right: 10px

.form__input:focus 
	border-bottom-color: #05a

.input-title 
	padding: 0 10px
	position: absolute
	font-size: 11px
	line-height: 13px
	color: #999
	text-transform: lowercase
	top: -8px
	left: 10px
	background: #fff

.form__row-message 
	text-align: center

.form__message 
	color: #fff
	font-size: 13px
	transition: color .3s

.form__message-error 
	color: #efa2a2

.remove-password 
	color: #0055aa

.form__button 
	border: none
	color: #fff
	padding: 15px 40px
	background-color: #004080
	max-width: 150px
	text-align: center
	cursor: pointer
	transition: .3s
	text-transform: uppercase
	outline:none

.form__button:hover 
	background-color: #05a