//- page main.pug

extends template/main

block variables
	- var title = 'Your page title here :)';
	- var keywords = 'Your page keywords here :)';
	- var description = 'Your page description here :)';
