@import "utils/normalize"
// @import "utils/libs"
@import "utils/vars"
@import "utils/mixins"
@import "utils/fonts"

html
	font-family: $font 
	font-size: $font-size

*:focus 
	outline-style: none
	outline-width: 0px !important
	outline-color: none !important

.grid-container
  padding-right: 0.625rem
  padding-left: 0.625rem
  max-width: 75rem
  margin: 0 auto

@import "modules/forms/forms"